nltk==3.5
Flask==1.1.2
torch==1.3.1
tqdm==4.57.0
pytorch_pretrained_bert==0.6.2
transformers==3.5.1
panda
numpy
gensim==3.8.3
apex==0.9.10dev
dataclasses==0.8
flask_cors==3.0.10
pyrebase==3.0.27
waitress==1.4.4
